<main class="listagem">
	<header>
		<h2 class="text-center">{{ tituloPagina }}</h2>
	</header>

	<div class="d-flex flex-row justify-content-center flex-wrap">

		<div *ngFor="let livroComContato of todosOsLivros; index as index" class="card text-center m-4" style="width: 18rem">
			<img class="card-img-top"
				src="https://img.freepik.com/vetores-gratis/livros-stack-realistic_1284-4735.jpg?size=338&ext=jpg"
				alt="Imagem de capa do livro">

			<div class="card-body">
				<h5 class="card-title">{{ livroComContato.livro.titulo | uppercase }}</h5>
				<p class="card-text col-2 text-truncate" style="max-width: 16rem">
					{{ livroComContato.livro.descricao }}</p>
			</div>

			<ul class="list-group list-group-flush">
				<li class="list-group-item">{{ livroComContato.livro.isbn }}</li>
				<li class="list-group-item" *ngFor="let contato of livroComContato.contatos">
					<span class="text-bold"> {{ contato.tipoLiteral }} </span>
					<a class="card-link" [routerLink]="['']">{{ contato.endereco }}</a>
				</li>
			</ul>

			<div class="card-footer">
				<div class="relativo-modal" visivelApenasParaCriador [idDonoLivro]="livroComContato.livro.idDonoLivro">
					<!-- Ativa o modal -->
					<button type="button" class="btn btn-outline-info m-1 mt-0" 
						[routerLink]="['/livros','editar', livroComContato.livro.idDonoLivro, livroComContato.livro.id]">Editar</button>
					<button type="button" class="btn btn-outline-danger" (click)="exibirEOcultarModal(index)">Remover</button>

					<div class="modal-background-escuro align-items-center justify-content-center"
						id="modal-background{{index}}">
						<!-- Modal -->
						<div class="modal-simples">
							<header>
								<h6 class="font-weight-bold text-left">
									Remover livro
								</h6>
							</header>
							<hr>
							<div>
								<p>
									Deseja realmente remover o livro "
									<span class="font-weight-bold">{{ livroComContato.livro.titulo }}</span>"?
								</p>
							</div>
							<hr>
							<footer class="text-right">
								<button class="btn btn-secondary m-1" (click)="exibirEOcultarModal(index)">Cancelar</button>
								<button class="btn btn-danger m-1"
									(click)="removerLivroComId(livroComContato.livro.id);exibirEOcultarModal(index)">Confirmar</button>
							</footer>
						</div>
					</div>
					<hr>
				</div>

				<p class="text-muted" *ngFor="let cat of livroComContato.livro.categorias">{{ cat.nome }}</p>
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center" *ngIf="possuiMaisLivros; else fimListagem">
		<button class="btn btn-primary" (click)="buscarMaisLivros()">Buscar mais livros</button>
	</div>

	<ng-template #fimListagem>
		<p class="text-center">Fim da listagem</p>
	</ng-template>
</main>