/* You can add global styles to this file, and also import other style files */
div.container {
	/* navbar + footer = 146px */
	min-height: calc(100vh - 146px);
	margin-top: 1rem;
	margin-bottom: 1rem;
}