.nome-usuario {
	color: white; 
	align-self: center;
	padding: 8px;
}

@media(max-width: 555px) {
	.navbar-brand {
		margin: auto;
	}

	ul {
		margin-left: 0px;
		margin-right: auto;
	}

	ul li {
		align-self: center;
	}
}